.row
  .span7
    - if params[:friend_id]
      - unless @friend_likes.size == 0
        %h2.center
          = image_tag "http://graph.facebook.com/#{params[:friend_id]}/picture", :class => 'fbpicture'
          = "#{@friend['name']}"
          .hipsterness
            %a{"data-toggle" => "modal", :href => "#myModal"}
              - if @percent > 0
                = "#{@percent}% MORE"
              - else
                = "#{-@percent}% LESS"
              hipster than you
        - if @recommended.empty?
          %p.center #{@friend['name']} is so mainstream. They don't listen to any obscure bands
        - else
          %p.center
            #{@friend['name']} likes these obscure bands. 
            %br
            Maybe you should start listening to them too?
          %p.center
            - @recommended.each do |like|
              ="#{like['name']}"
              %br
        = render "facebook"
      
      - else
        %h2.lower Oh snap! Liking music on Facebook is way too mainstream for #{@friend['name']}. Best pick someone else.
        = render "facebook"
    - else
      %h1.lower Compare your hipster cred by clicking on one of your friends profile photos


  .span5#friend-list
    %input.search{ placeholder: "Search your friends"}
    %ul.list
      - current_user.facebook_friends.each do |friend|
        %li
          %a{ href: root_path(:friend_id => friend['id']), title: friend['name'],class: 'fbpicture'}
            = image_tag "http://graph.facebook.com/#{friend['id']}/picture", :size => '47x47'
          .name.hide
            = friend['name']


#myModal.modal.hide.fade
  .modal-header
    %button.close{"data-dismiss" => "modal"} ×
    %h3 How did you get that number?
  .modal-body
    %p We use several different metrics to compare how hipster you are compared to your friend. The math is a bit complex, but simply we look at the artists you like, the artists your friend likes, and how long you both have liked each band. We then use data provided by The Echonest to see how obscure the artist is compared to all other artists.  All that data gets fed into our fancy algorithm and out the other end pops the number you see.
  .modal-footer
