.row
  .span7
    .header
      %h1 Are you hipster?
    - if params[:friend_id]
      - unless @friend_likes.size == 0
        %h2
          = image_tag "http://graph.facebook.com/#{params[:friend_id]}/picture", :class => 'fbpicture'
          = "#{@friend['name']} is"
          - if @percent > 0
            = "#{@percent}% MORE"
          - else
            = "#{@percent}% LESS"
          hipster than you
        - @recommended.each do |like|
          %p= "#{like['name']} #{like['familiarity']}"
      - else
        %h2 Oh snap! Liking music on Facebook is way too mainstream for #{@friend['name']}. Best pick someone else.


  .span5#friend-list
    %input.search{ placeholder: "Search your friends"}
    %ul.list
      - current_user.facebook_friends.each do |friend|
        %li
          %a{ href: root_path(:friend_id => friend['id']), title: friend['name'],class: 'fbpicture'}
            = image_tag "http://graph.facebook.com/#{friend['id']}/picture", :size => '47x47'
          .name.hidden
            = friend['name']

