.row
  .span7
    - if params[:friend_id]
      - unless @friend_likes.size == 0
        %h2.center
          = image_tag "http://graph.facebook.com/#{params[:friend_id]}/picture", :class => 'fbpicture'
          = "#{@friend['name']}"
          %br
          .hipsterness
            - if @percent > 0
              = "#{@percent}% MORE"
            - else
              = "#{-@percent}% LESS"
            hipster than you
        - if @recommended.empty?
          %p Better go to the record store and pick up some demos
        - else
          %p.center
            #{@friend['name']} likes these obscure bands. 
            %br
            Maybe you should start listening to them too?
          %p.center
            - @recommended.each do |like|
              ="#{like['name']}"
              %br
        = render "facebook"
      
      - else
        %h2.lower Oh snap! Liking music on Facebook is way too mainstream for #{@friend['name']}. Best pick someone else.
        = render "facebook"
    - else
      %h1.lower Compare your hipster cred by clicking on one of your friends profile photos


  .span5#friend-list
    %input.search{ placeholder: "Search your friends"}
    %ul.list
      - current_user.facebook_friends.each do |friend|
        %li
          %a{ href: root_path(:friend_id => friend['id']), title: friend['name'],class: 'fbpicture'}
            = image_tag "http://graph.facebook.com/#{friend['id']}/picture", :size => '47x47'
          .name.hide
            = friend['name']

