!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Hipster"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "head"
    = csrf_meta_tags
    = yield(:head)
    - if Rails.env == "production"
      :plain
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5817045-14']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
  %body
    :plain
      <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=114999685301404";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    #main{:role => "main"}
      .container
        .row.content
          .span12
            = yield
        .row
          .span12
            %h3.center
              psst... the coolest music site you have never heard of is 
              = link_to 'murfie.com', "https://www.murfie.com"
            %footer
              .row
                .span-12
                  .pull-left
                    = link_to image_tag("echonest.png", :class => 'echonest'), "http://www.theechonest.com/"
                    = link_to image_tag("murfie.png",:class => 'murfie'), "https://www.murfie.com/"
                    = link_to image_tag("rethinkmusic.png",:class => 'rethink'), "http://rethink-music.com/"
                    = link_to image_tag("discogs.png",:class => 'discogs'), "http://www.discogs.com/"
                .clearfix
                .span12
                  %p
                    %br
                    Created by
                    = link_to "South Pole Steve", "http://www.southpolesteve.com"
                    - if current_user
                      %br
                      Click here to
                      = link_to "Logout", signout_path



    = javascript_include_tag "application"
